USE [master]
GO
/****** Object:  Database [Golf]    Script Date: 8/25/2021 2:41:53 PM ******/
CREATE DATABASE [Golf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Golf', FILENAME = N'C:\Users\naima.el.khattabi\Golf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Golf_log', FILENAME = N'C:\Users\naima.el.khattabi\Golf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Golf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Golf]
GO
USE [Golf]
GO
/****** Object:  Table [dbo].[Subscriber]    Script Date: 8/25/2021 2:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriber](
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Sex] [int] NOT NULL,
	[Registred] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subscriber] ON 

INSERT [dbo].[Subscriber] ([Name], [Surname], [BirthDate], [Sex], [Registred], [Id]) VALUES (N'J.K.', N'Rowling', CAST(N'1968-02-19' AS Date), 1, 0, 8)
INSERT [dbo].[Subscriber] ([Name], [Surname], [BirthDate], [Sex], [Registred], [Id]) VALUES (N'Maria', N'Bitti', CAST(N'1986-05-16' AS Date), 1, 1, 2)
INSERT [dbo].[Subscriber] ([Name], [Surname], [BirthDate], [Sex], [Registred], [Id]) VALUES (N'Dario', N'Poldi', CAST(N'1995-09-09' AS Date), 0, 1, 3)
SET IDENTITY_INSERT [dbo].[Subscriber] OFF
GO
USE [master]
GO
